<!-- Search form -->
<%= form_tag(blogs_path, method: :get) do %>
  Search Blog By Title<%= text_field_tag :title, params[:title] %>
  <%= submit_tag "Search Blog", name: nil %>
<% end %>
<!-- end search form -->
<h1>Blogs</h1>
<%if @blogs.empty?%>
  <h1>There are no blogs</h1>
<%else%>
  <%@blogs.reverse.each do |blog|%>
  <p>
    <a href="<%=blog_path(blog.id)%>"><%=blog.title%></a> by: <a href="<%=user_path(blog.user_id)%>"><%=blog.user.first_name.capitalize%> <br>
    <p><%= blog.likes.count %> <%= (blog.likes.count) == 1 ? 'Like' : 'Likes'%></p>
  </p>
  <%end%>
<%end%>
