<h1><%=@blog.title%></h1>
<p><%=@blog.description%></p>
<p><%=@blog.tags%></p>
<%= button_to 'Like', blog_likes_path(@blog), method: :blog %>
<%= @blog.likes.count %> <%= (@blog.likes.count) == 1 ? 'Like' : 'Likes'%>

<% pre_like = @blog.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', blog_like_path(@blog, pre_like), method: :delete %>
<% end %>

<hr>

<h3>Recent Blogs</h3>

<%if @recent_blogs.empty?%>
  <h1>There are recent blogs</h1>
<%else%>
  <%@recent_blogs.take(3).each do |blog|%>
  <%if blog.user_id != current_user.id && blog.id != @blog.id%>
  <p>
    <a href="<%=blog_path(blog.id)%>"><%=blog.title%></a> by: <%=blog.user.first_name.capitalize%>
    &nbsp Created: <%=blog.created_at.strftime('%b %d, %C%y')%>
  </p>
  <%end%>
  <%end%>
<%end%>
