<h1>Edit <%=@user.first_name.capitalize%>'s Profile</h1>

<%= form_for(@user) do |u|%>
<p>First Name <br>
  <%= u.text_field :first_name %></p>
<p>Last Name <br>
  <%= u.text_field :last_name %></p>
<p>Email <br>
  <%= u.email_field :email %></p>
<p>Location <br>
  <%= u.text_field :location_name %></p>
  <p>Profile Image <br>
  <%= u.file_field :profile_picture, direct_upload: true %></p>
<p>
  <%= u.submit 'Save Changes' %>
</p>

<%end%>
