<div class="blogpage">
  <h1 class="center">Blogs</h1>
  <%if @user_blogs.empty?%>
  <h1 class="center">There are no blogs</h1>
  <%else%>
  <div class="blog-grid center">
    <%@user_blogs.reverse.each do |blog|%>
    <div id="blog-<%=blog.id%>">
        <a href="<%=blog_path(blog.id) %>">
          <%=blog.image.attachment.nil? ? tag(:img, src:"/assets/blog.jpg", class: "blogimg"): image_tag(blog.image, class: "blogimg")%>
        </a>
      <h2>
        <a href="<%=blog_path(blog.id) %>"><%=blog.title%></a> <br>
      </h2>
      <p><%=blog.description.truncate(250)%></p>
      <a class="icon blog-icon" href="<%=edit_blog_path(blog.id)%>">
        <span class="tooltiptext">Edit </span>
        <img src="/assets/edit.png"></a> &nbsp &nbsp
        <%= link_to blog_path(blog.id), remote: true, method: :delete, data: {confirm: 'Are you sure?'}, class: 'icon blog-icon' do %>
          <span class="tooltiptext">Delete</span>
          <%= image_tag("/assets/delete.png") %>
        <%end%> <br> <br>
      <a class="btn btn-primary" href="<%=blog_path(blog.id)%>">Read More</a>
    </div>
    <%end%>
  </div>
  <%end%>
</div>
