<div class="blogpage">
  <h1 class="center">Blogs</h1>
  <%if @user_blogs.empty?%>
  <h1>There are no user_blogs</h1>
  <%else%>
  <div class="blog-grid center">
    <%@user_blogs.reverse.each do |blog|%>
    <div>
        <a href="<%=blog_path(blog.id) %>">
          <%=blog.image.attachment.nil? ? tag(:img, src:"/assets/blog.jpg", class: "blogimg"): image_tag(blog.image, class: "blogimg")%>
        </a>
      <h2>
        <a href="<%=blog_path(blog.id) %>"><%=blog.title%></a> <br>
      </h2>
      <p><%=blog.likes.count %> <%= (blog.likes.count) == 1 ? 'Like' : 'Likes'%></p>
      <span>By: <a href="<%=user_path(blog.user_id)%>"><%=blog.user.first_name.capitalize%></a></span>
      <p><%=blog.description.truncate(200)%></p>
      <a class="btn btn-primary" href="<%=blog_path(blog.id)%>">Read More</a>
    </div>
    <%end%>
  </div>
  <%end%>
</div>
