<div class="userpage">
  <div class="user-grid">
    <div class="coverimg">
      <div>
        <%=@user.cover_picture.attachment.nil? ? content_tag(:div, "", id: "coverimg"): image_tag(@user.cover_picture)%>
      </div>
    </div>

    <div class="profile">
      <div>
        <%=@user.profile_picture.attachment.nil? ? content_tag(:div, "", id: "profileimg"): image_tag(@user.profile_picture)%>
      </div>
      <div class="center">
        <h1><%=@user.first_name.capitalize%> <%=@user.last_name.capitalize%></h1>
        <p><strong>Email:</strong> <%=@user.email%></p>
        <p><strong>Location:</strong> <%= @user.location_name%></p>
        <p><strong>Level:</strong> <%=@user.level.name%></p>
        <%if logged_in? && @user.id == current_user.id%>
        <a class="icon blog-icon" href="<%=edit_user_path%>">
          <span class="tooltiptext">Edit Profile</span>
          <img src="/assets/edit.png"></a>
        <%end%>
      </div>
    </div>
  </div>
  <div class="center">
    <br>
  <%if current_user.id == @user.id%>
  <h1>Recent Blogs</h1>
  <h3>
    <a class="center" href="<%= myblogs_path(@user_id)%>">View All</a>
  </h3>
    <div class="lessons center">
        <%if @recent_blogs != nil %>
        <%@recent_blogs.reverse.take(3).each do |blog| %>
        <div>
          <a href="<%=blog_path(blog.id) %>">
            <%=blog.image.attachment.nil? ? tag(:img, src:"/assets/blog.jpg", class: "blogimg"): image_tag(blog.image, class: "blogimg")%>
          </a>
          <h2>
            <a href="<%=blog_path(blog.id)%>"><%=blog.title%></a> by: <%=blog.user.first_name.capitalize%>
          </h2>
          <p>
            Created: <%=blog.created_at.strftime('%b %d, %C%y')%>
          </p>
          <p><%=blog.description.truncate(200)%></p> <br><br><br>
        </div>
        <%end%>
      </div>
        <%else%>
          <h3>You haven't created a blog yet!</h3>
          <%= link_to 'Create Blog',  new_blog_path%> <br>
        <%end%>

    <%else%>

    <h1><%=@user.first_name.capitalize%>'s Recent Blogs</h1>
    <div class="bloggrid">
      <%if @recent_blogs != nil %>
        <%@recent_blogs.reverse.each do |blog| %>
          <a href="<%=blog_path(blog.id)%>"><%=blog.title%></a>
        <%end%>
      <%else%>
        <h3>You haven't created a blog yet!</h3>
        <%= link_to 'Create Blog',  new_blog_path%> <br>
      <%end%>
    </div>

    <%end%>
  </div>
</div>
