<div class="chatpage">
  <h2 class="center"> Messages</h2>
  <div>
    <% if @chats == nil %>
    <h4>There are no messages at this time</h4>
    <%else%>
      <%@chats.reverse.each do |chat| %>
        <% other_user = User.find_by_id(chat.subscriptions[0].user_id)%>
        <%= link_to(user_chat_path(current_user, chat, :other_user => other_user.id), method: :get) do %>
          <div class="chatimg">
            <%if other_user.id != current_user.id%>
            <%=other_user.profile_picture.attachment.nil? ? image_tag("/assets/profile.jpg", class: "chatdefault"): image_tag(other_user.profile_picture)%>
            <%= "Message from: #{other_user.first_name.capitalize}" %>
            <%end%>
          </div>
        <%end%>
      <%end%>
    <% end %>
  </div>

  <div>
    <h3>Available Users:</h3>
    <% User.all.each do |other_user| %>
      <% if other_user != current_user %>
        <%= link_to(user_chats_path(current_user, :other_user => other_user.id), method: :post) do %>
        <div class="chatimg">
            <%=other_user.profile_picture.attachment.nil? ? image_tag("/assets/profile.jpg", class: "chatdefault"): image_tag(other_user.profile_picture)%>
            <span><%= other_user.first_name.capitalize %></span> <br><br>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
