<div class="homepage">
  <div class="homepage-grid center">
    <div>
      <h2>Continue Reading</h2>
      <%@user_lessons.take(3).each do |lesson| %>
      <h3>
        <a href="/lessons/<%=lesson.level.name.downcase%>/<%=lesson.id%>"><%=lesson.name%></a>
      </h3>
      <%end%>
    </div>

    <div>
      <h2>My Blogs</h2>
      <% if @user_blogs.count == 0 %>
        <h3>You haven't created a blog yet</h3>
        <%= link_to 'Create your first blog', new_blog_path%> <br>
      <%else%>
        <%@user_blogs.reverse.take(3).each do |blog| %>
        <p>
          <a href="<%=blog_path(blog.id)%>"><%=blog.title%></a>
        </p>
        <%end%>
      <%end%>
    </div>

    <div>
      <h2>Recent Blogs</h2>
      <% if @blogs.count == 0%>
        <h3>There are no blogs at this time</h3>
        <%= link_to 'Create your first blog', new_blog_path%> <br>
      <%else%>
        <%@blogs.reverse.take(3).each do |blog| %>
        <%if blog.user_id != current_user.id %>
        <p>
          <a href="<%=blog_path(blog.id)%>"><%=blog.title%></a>
        </p>
        <%end%>
        <%end%>
      <%end%>
    </div>

    <div>
      <h2>Messages</h2>
        <%@chats.take(3).reverse.each do |chat| %>
          <%user1 = User.find_by_id(chat.subscriptions[0].user_id)%>
          <%user2 = User.find_by_id(chat.subscriptions[1].user_id)%>
          <%if !user1.nil? && !user2.nil?%>
            <%if user1.id == current_user.id%>
              <%= link_to(user_chat_path(user1, chat, :other_user => user2.id), method: :get) do %>
                <h4><%= "From: #{user2.first_name.capitalize}" %></h4>
              <% end %>
            <%elsif user1.id == user2.id%>
              <%= link_to(user_chat_path(user2, chat, :other_user => user1.id), method: :get) do %>
                <h4><%= "From: #{user1.first_name.capitalize}" %></h4>
              <% end %>
            <%end%>
          <%end%>
        <%end%>
    </div>
  </div>
</div>
