<div class="homepage">
  <div class="homepage-grid center">
    <div>
      <h2>Continue lesson</h2>
    </div>

    <div>
      <h2>My Blogs</h2>
      <% if @user_blogs.nil?%>
        <h3>You haven't created a blog yet</h3>
        <%= link_to 'Create Blog', new_blog_path%> <br>
      <%else%>
        <%@user_blogs.reverse.take(3).each do |blog| %>
        <p>
          <a href="<%=blog_path(blog.id)%>"><%=blog.title%></a>
        </p>
        <%end%>
      <%end%>
    </div>

    <div>
      <h2>Recent Blogs</h2>
      <% if @blogs.nil?%>
        <h3>You haven't created a blog yet</h3>
        <%= link_to 'Create Blog', new_blog_path%> <br>
      <%else%>
        <%@blogs.reverse.take(3).each do |blog| %>
        <%if blog.user_id != current_user.id %>
        <p>
          <a href="<%=blog_path(blog.id)%>"><%=blog.title%></a>
        </p>
        <%end%>
        <%end%>
      <%end%>
    </div>

    <div>
      <h2>Messages</h2>
      <% if !@chats.nil? %>
      <% @chats.reverse.each do |chat|%>
          <% other_user = User.find_by_id(chat.subscriptions[1].user_id)%>
          <%= link_to(user_chat_path(current_user, chat, :other_user => other_user.id), method: :get) do %>
            <!-- <%= image_tag(other_user.profile_picture) if other_user.profile_picture.attached?%> -->
              <h4><%= "#{other_user.first_name.capitalize}" %></h4>
              <% end %>

          <% end %>
        <% end %>
    </div>
  </div>
</div>
