<head>
  <%= javascript_pack_tag 'application.js' %>
</head>

<%if logged_in?%>
<h1>Hi <%=current_user.first_name %></h1>
<%= link_to 'My Profile',  user_path(current_user)%> <br>
<%= link_to 'Create Blog',  new_blog_path%> <br>
<%= link_to 'View All Blogs',  blogs_path%> <br>
<%= link_to 'View My Blogs',  myblogs_path%> <br>
<%= link_to 'View Lessons',  lessons_path%> <br>
<%= link_to 'View Chats',  user_chats_path(current_user)%> <br>
<%= link_to 'Search Location',  new_location_path(current_user)%> <br>
<%= link_to 'Logout', logout_path, method: :delete %>

<%else%>
<body id="homebg">
<div id="home" class="home center">
  <h1 class="center">Meditation App</h1>
  <div v-on:click="show =!show">
    <img v-if="!show" class="flower" src="/assets/flower.png">

    <transition name="bounce">
      <div v-if="show">
        <h2>Welcome something something</h2>
        <p>
          <%=link_to 'Sign In', login_path, class: "btn btn-sign" %>
        </p>
        <p>
          <%=link_to 'Sign Up', new_user_path, class: "btn btn-sign" %>
        </p>
      </div>
    </transition>
  </div>

</div>
</body>
<%end%>
