<div class="lessonpage">
  <div class="lesson-show">
    <div>
      <h1 class="center"><%=@lesson.name%></h1>
      <p><%=@lesson.content%></p>
    </div>
  </div>
  
  <%related_lessons = Lesson.where(level_id: @lesson.level_id)%>
  <h2 class="center">Related Lessons</h2>
  <div class="lessons center">
    <%related_lessons.each do |lesson| %>
      <%if lesson.id != @lesson.id%>
      <div>
        <h2>
          <a href="/lessons/<%=lesson.level.name.downcase%>/<%=lesson.id%>"><%=lesson.name%></a>
        </h2>
        <p><%=lesson.content.truncate(100)%></p>
        <a class="btn btn-primary" href="/lessons/<%=lesson.level.name.downcase%>/<%=lesson.id%>">Learn More</a>
      </div>
      <%end%>
      <%end%>
    </div>
  </div>
</div>
