<!DOCTYPE html>
<html>
  <head>
    <title>MeditationApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="alerts" class="fade-in center">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%if logged_in?%>
    <%= render 'layouts/sidenav' %>
    <%end%>

      <%= yield %>

    <script type="text/javascript">
      window.addEventListener('load', function(){
        setTimeout(function(){
          var alert = document.getElementById('alerts');
          alert.classList.add('hidden');
        },3000)
      });
  </script>

  </body>
</html>
